-----BEGIN CERTIFICATE-----
MIICATCCAWoCCQDZVe2uVvq08TANBgkqhkiG9w0BAQUFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECBMKU29tZS1TdGF0ZTEhMB8GA1UEChMYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE0MDQyNzExNTgxNVoXDTE2MDQyNjExNTgxNVowRTELMAkG
A1UEBhMCQVUxEzARBgNVBAgTClNvbWUtU3RhdGUxITAfBgNVBAoTGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAzLA1
yE6aIvkUMBck69whSF7ERyOOUBwggDjs3nQ7hJ/dk+N1OV/DrDd7+68ZpCmtMCSp
HV8Ol0tjWKGg3Moli6tEhy2GFJBgkYtKhhiOSRLLSeW/w+b9yliNyRalpF9dxMNq
QolXR3EKDXov+btGCHsOiGTS/BfvFHM6Tp8DY9UCAwEAATANBgkqhkiG9w0BAQUF
AAOBgQB2lXsuLiwxB4mm5V77oxhV+Shb+7ckwfH5id8I+T/fWkWTdK/82/A8ig4I
A/VgJiHV/ji4mreQoi6dldULuMokmGAPtZ5r39VQc4KoGTYccJ+tB55nF8s19NGV
DBxpNOOB17yyWLuzZHBjU00YMlBU7YyEdkXRuKKM12DNtwCx0g==
-----END CERTIFICATE-----
