-----BEGIN CERTIFICATE-----
MIICHTCCAYYCCQCZz/3gu6pxrjANBgkqhkiG9w0BAQUFADBTMQswCQYDVQQGEwJT
RzESMBAGA1UECBMJU2luZ2Fwb3JlMRIwEAYDVQQHEwlTaW5nYXBvcmUxHDAaBgNV
BAoTE1NhbXBsZSBPcmdhbmlzYXRpb24wHhcNMTQwNDI3MTI1NjMzWhcNMTUwNDI3
MTI1NjMzWjBTMQswCQYDVQQGEwJTRzESMBAGA1UECBMJU2luZ2Fwb3JlMRIwEAYD
VQQHEwlTaW5nYXBvcmUxHDAaBgNVBAoTE1NhbXBsZSBPcmdhbmlzYXRpb24wgZ8w
DQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALgKzIIHSVzgWlwkqw6m9lFdNT2xRhsP
A7jkWNBg7qUaGRmvipPdJtShfFShLNOliEmmfzhJHLhUqZiKgznDUNfOkCAPEmhR
LLbwToQQKI7cec8+poWRprGFVC4BAvPVJR4r6LsEmM1ERECJFAIBNZoWS1/DLqtG
bul715/Drf37AgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAK4JhGy3Ox5k6hlRMxmef
6AXv98nxdRWGv5C5xXGI2ylUtcG+9ogKoDYPmn1dNa+eIDUluQSNlWawrD91Rfwe
irmu5yUEw4UPVfAqUaIysi7NbjjW6zjghYbaeVdcEGsVXphP3D4sUhXD+MhQfhZq
K18dPyDcCT/NyAqOwlb0SCs=
-----END CERTIFICATE-----
